{% extends 'layout/base.html' %}


{% block content %}

{% if messages %}
{% for message in messages %}
{% if 'success' in message.tags %}
<div class="bg-green-100 msgs border-l-4 border-green-500 text-green-700 p-4 rounded-lg">
    <p class="text-lg font-semibold">Successfull!</p>
    <p>{{ message }}</p>
</div>
{% elif 'error' in message.tags %}
<div class="bg-red-100 msgs border-l-4 m-5 border-red-500 text-red-700 p-4 rounded-lg">
    <p class="text-lg font-semibold">Failed!</p>
    <p>{{ message }}</p>
</div>
{% endif %}
{% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
{% endblock %}