<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Bloggy</title>{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>

    <main>
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Bloggy. All rights reserved.</p>
    </footer>


    <script>
        document.addEventListener("DOMContentLoaded", () => {

            setTimeout(() => {
                clear_msgs()

            }, 5000);
        })

        function clear_msgs() {

            document.querySelectorAll('.msgs')?.forEach(ele => {
                ele.remove()
            })
        }
    </script>

</body>

</html>